*{
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    height:50px;
}
nav{
    position:fixed;
    width:100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}
a{
    text-decoration: none;
}
a:hover { 
    text-decoration: underline; 
}
.menu{
    display:flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin:0;
    list-style-type: none;
}
.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;   
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader {
    position:absolute;
    top:50px;
    width:100%;
    height: 84px;
    background-color: rgba(0,0,0, .6); /*настройка прозрачности только фона subheader, а не всего subheader */
    
}
.subheader .subheader_logo{
    display:block;
    margin-top: 16px;
    max-width: 100%;
}
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}
.subheader .subheader_call{
    margin-top: 23px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
}

.subheader .subheader_phone {
    line-height: 12px;
    margin-top: 8px;
    display:block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    text-transform: uppercase;
}
.subheader .subheader_btn{
    border-radius: 4px;
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase
}
.promo{
    min-height: 800px;
    background: url('../img/section1.jpg')center center/cover no-repeat; 
    padding:150px 0 135px 0;   
}
.promo .promo_header{
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader{
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr{
    margin-top: 23px;
    height: 161px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.promo .promo_btn{
    display: block;
    margin:118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius:4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.reason .reason_rectangle {
    text-align: center;
    width: 112px;
    height: 24px;
    background-color: #000000;
    display: block;
    margin: 0 auto;
    margin-top: 71px;
    
}
.reason .reason_header {
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.reason .reason_subheader{
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.reason .reason_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reason .reason_block .reason_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reason .reason_block .reason_descr {
    width: 343px;
}
.reason .reason_block .reason_descr .reason_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.reason .reason_block .reason_descr .reason_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}